.s {
    padding: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #222;
    color: white;
    width: 100%;
}
.s-texts {
    width: 65%;
}
.s-title {
    font-size: 50px;
    font-weight: 300;
    margin: 20px auto;
    margin-top: 40px;
}
.s-p {
    margin-bottom: 30px;
}
.s-cont {
    margin-bottom: 50px;
}
#badge {
    height: 3vh;
    margin-left: 5px;
    margin-right: 5px;
}


@media screen and (max-width: 480px) {
.s {
    padding: 10px auto;
}
#badge {
    height: 2vh;
    margin-left: 5px;
    margin-right: 5px;
}
.s-texts {
    width: 100%;
}
}