.s {
    padding: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #222;
    color: white;
    width: 100%;
}
.s-texts {
    width: 65%;
}
.s-title {
    font-size: 50px;
    font-weight: 300;
    margin: 20px auto;
    margin-top: 40px;
}
.s-p {
    margin-bottom: 30px;
}
.s-cont {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
}

.s-desc {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px ;
}

.s-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .s {
    padding: 10px auto;
}

.s-texts {
    width: 100%;
}
}