.s {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.s-texts {
    width: 65%;
}
.s-title {
    font-size: 50px;
    font-weight: 600;
}
.s-p {
    margin-bottom: 30px;
}
.s-desc {
    columns: 200px 3;
    width: 100%;
}
.s-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .s {
    padding: 10px;
}

.s-texts {
    width: 100%;
}
}