.r {
    padding: 50px 100px 0px 100px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.r-img {
    height: 170vh;
}
.r-texts {
    margin: 0px;
    padding: 0px;
}
.r-btn {
    margin: 0px 0px 20px 0px;
    height: 7vh;
}
@media screen and (max-width: 480px) {
.r {
    padding: 10px;
}

.r-img {
    height: 90vh;
    }
}