.f-cont {
    display: flex;
    background-color: #222;
    color: white;
    height: 25vh;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-weight: 800;
    width: 100%;
}
.f {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    font-weight: 800;
    position:initial;
    padding-top: 70px;
}
.f-space{
    flex: 2;
}
.f-texts {
    flex: 1;
    padding: 20px 0px 20px 50px;
}
.f-icons {
    flex: 1;
}
.f-icons, f-texts {
    padding: 100px 0px 10px 10px;
}
.f-copyright {
    flex: 1;
    width: 100%;
    font-weight: 400;
    margin: 0px 0px 0px 50px;
}
@media screen and (max-width: 480px) {
    .f-icons, f-texts {
        margin-right: 5px;
        padding: 0 0 2px 0;
    }
}